*{
    margin: 0;
    padding: 0;
}

.appcontainer{
    width: 100vw;
    height: 100vh;
    background-color: blue;
    justify-content: center;
    align-items: center;
}

.start_btn{
    width: 130px;
    margin: auto;
    padding-top: 328.5px;
}

.start_btn button{
    width: 130px;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    font-style: normal;
    color: blue;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 1px 2px 365px black;
    text-align: center;
    outline: none;
    border: none;
}

.start_btn button:hover{
    background-color: rgb(233, 227, 227);
}

.rules{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: white;
    text-align: left;
    width: 515px;
    height: 305px;
    border-radius: 8px;
    /* box-shadow: 476px 476px 476px rgb(58 54 54); */
    display: none;
    border: 1px solid #cbbcbc;
}

.header{
    padding: 20px;
    font-size: 20px;
    text-align: left;
    border-bottom: 1px solid lightgrey;
    padding-left: 20px;
}

.infos{
    padding: 15px;
    border-bottom: 1px solid lightgrey;
}

.span{
    color: blue;
    font-weight: 600;
}

.info{
    padding: 5px;
}

.buttons{
    padding-top: 5px;
    width: fit-content;
    height: fit-content;
    float: right;
    padding-right: 8px;
}

.buttons button{
    width: 115px;
    height: 40px;
    cursor: pointer;
    background-color: blue;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 10px;
}

#different{
    background-color: white;
    color: blue;
    border: 2px solid blue;
}

.quiz_area{
    display: none;
    border: 1px solid black;
    width: 560px;
    height: 380px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 13px 30px rgb(58, 54, 54);
    background-color: white;
    border-radius: 5px;
}

.quiz_header{
    width: 560px;
    height: 58px;
    border-bottom: 1px solid lightgrey;
}

.text_header{
    padding: 0;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 4%;
    left: 3%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.timer{
    border-radius: 8px;
    text-align: center;
    justify-content: space-between;
    display: flex;
   position: absolute;
   top: 1.75%;
   left: 73%;
   width: 135px;
   height: 44px;
   text-align: center;  
   border: 1px solid aliceblue;
   background-color: #b8daff;
}  

.time_left{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding-top: 11px;
    padding-right: 5px;
    margin-left: 5px;
}

.secs_left{
    font-weight: 500;
    color: white;
    background-color: black;
    border-radius: 8px;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    margin-top: 3px;
    height: 20px;
    width: 50px;
    border: 1px solid black;
}

.visual_time{
    width: 560px;
    height: 3px;
    background-color: blue;
}

.animation{
    animation: groves 16s linear;
}

@keyframes groves {
    0% {width: 0px;}
    25% {width: 140px;}
    50% {width: 280px;}
    75% {width: 420px;}
    100% {width: 560px;}
}

.main_part{
    width: 560px;
    height: 266px;
    border-bottom: 1px solid lightgrey;
}
.hider{
    width: 560px;
    height: 266px;
    opacity: 0.14;
    z-index: 200;
    position: absolute;
    top: 16%;
    background-color: #483f3f;
    display: none;
}

.question{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding-top: 13px;
    padding-left: 19px;
    padding-bottom: 0px;
    font-weight: 500;
}

.options{
    width: 541px;
    height: 153px;
    padding-top: 20px;
    padding-left: 19px;
    padding-bottom: 0px;
    font-size: 18px;
}

.option{
    display: flex;
    background-color: aliceblue;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #84c5fe;
    width: 500px;
    height: 22px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding-left: 11px;
}

/* .option-2{
    display: flex;
    background-color: aliceblue;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #84c5fe;
    width: 500px;
    height: 22px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding-left: 11px;
}

.option-3{
    display: flex;
    background-color: aliceblue;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #84c5fe;
    width: 500px;
    height: 22px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding-left: 11px;
}

.option-4{
    display: flex;
    background-color: aliceblue;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #84c5fe;
    width: 500px;
    height: 22px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding-left: 11px;
}
*/
.end_part{
    height: 53px;
    width: 560px;
    display: flex;
}

.current_question{
    position: absolute;
    padding-top: 15px;
    padding-left: 15px;
    width: 150px;
    height: fit-content;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.next_btn{
    padding-top: 7.5px;
    padding-left: 435px;
}

.next_btn button{
    padding-bottom: 03px;
    width: 115px;
    height: 40px;
    cursor: pointer;
    background-color: blue;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 10px;
    display: none;
    border: none;
}

.correctanswer{
    background-color: rgb(161, 240, 191);
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #84c5fe;
    width: 500px;
    height: fit-content;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding-left: 11px;
}

.tick{
    position: absolute;
    left: 37%;
    margin-bottom: 3px;
    height: 20px;
    width: 20px;
    align-items: center;
    margin-left: 285px;
    font-weight: 800;
    color: green;
    border-radius: 100px;
    border: 3px solid green;
    text-align: center;
    display: none;
}

.cross{
    position: absolute;
    left: 37%;
    margin-bottom: 3px;
    height: 20px;
    width: 20px;
    align-items: center;
    margin-left: 285px;
    font-weight: 800;
    color: red;
    border-radius: 100px;
    border: 3px solid red;
    text-align: center;
    display: none;
}

.congrats{
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 28%;
    justify-content: center;
    display: none;
    flex-direction: column;
    align-items: center;
}

#next:hover{
    background-color: rgb(3, 37, 151);
}
#cont:hover{
    background-color: rgb(3, 37, 151);
}